.leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-width: 15rem;
    height: 29rem;
    margin-top: 2rem;
    border-radius: 10px;
    border: 3px solid black;
    
    &__list {
        background-color:#e1e1e1;
        width:12rem;
        height: 19rem;
        border-radius: 5px;
        padding-top: 1px;
        border: 1px solid black; 

        &-item {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 7px;
            color: black;
            
            &--header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                background-color:white;
                color: black;
            }
        }

        &-id {
            width: 32px;
        }

        &-name {
            display: flex;
            width: 100px;
        }

        &-score {
            width: 75px;
        }
    }
}