.form {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    width: 30%;
    height: 7rem;

    &__container {
        display: flex;
        align-items: center;
        justify-content:center;
        width: 100%;
        height: 10rem;
    }

    &__input {
        width: 100%;
        height: 2.5rem;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        font-size: 1.5rem;
        border: 2px solid black;
        
        &:focus {
            border: 2px solid rgb(2, 235, 2);
            outline: none;
        }
    }

    &__button {
        width: 100px;
        height: 40px;
        font-size: 1.2rem;
        background-color: white;
        border: 2px solid black;
        border-radius: 2rem;
        transition: .2s;
        &:hover {
            scale: 1.2;
        }
    }
}