.content {
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 2rem;

    &__hero-img {
        width:40rem;
        height: 11rem;
    }

    &__title {
        font-size:5rem;
        text-transform:uppercase;
        letter-spacing: 3rem;
        padding-left: 3rem;
    }

    &__body {
        width: 100%;
        display:flex;
        justify-content: center;
    }

    &__description {
        width: 45%;
        min-width: 29rem;
        font-size: 20px;
    }
}