.content {
<<<<<<< Updated upstream
    height: 12rem;
=======
    height: 18rem;
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

<<<<<<< Updated upstream
=======
    &__hero-img {
        width:40rem;
        height: 11rem;
        margin-left: 2.8rem;
    }

>>>>>>> Stashed changes
    &__title {
        font-size:5rem;
        text-transform:uppercase;
        letter-spacing: 3rem;
        padding-left: 3rem;
    }

    &__body {
        width: 100%;
        display:flex;
        justify-content: center;
    }

    &__description {
<<<<<<< Updated upstream
        width: 35%;
=======
        width: 60%;
        min-width: 29rem;
        font-size: 24px;
>>>>>>> Stashed changes
    }
}