* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    background-color: rgb(46, 167, 248);
    height: 90rem;
    padding: 2rem;
    padding-top: 5rem;
<<<<<<< Updated upstream
}
=======
}
   
>>>>>>> Stashed changes
