.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #232940bb;
}

.pause {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 17rem;
    height: 15rem;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    padding: 0.5rem;
    &__button-container {
        width: 100%;
        height: 3rem;
    }

    &__restart {
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
        background-color: white;
        border: 2px solid black;
        border-radius: 2rem;
        transition: 0.2s;
        &:hover {
            background-color: #00bfff;
            color: white;
            cursor: pointer;
        }
    }

    &__resume {
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
        background-color: white;
        border: 2px solid black;
        border-radius: 2rem;
        transition: 0.2s;
        &:hover {
            background-color: #00bfff;
            color: white;
            cursor: pointer;
        }
    }
}
